@font-face {
    font-family: Univers;
    src: url('../fonts/univers.OTF');
}

h2, h3, a, a:hover, a:active{
	text-decoration: none;
	color:#fff;
	font-weight: 300;
	font-family: Univers, Helvetica, Arial, Sans-serif;
	}
	
body{
	background-color: #000;
	margin: 0;

}

.logo{
	width:70vh;
	margin:0 auto;
	padding-top:15vh;
}

.tag{
	width: 70vh;
	margin:0 auto;
}

h2{
	font-size: 4.4vh;
	text-align: center;
}

h3{
	letter-spacing: .1ch;
}

.left, .center, .right{
	display: inline-block;
}

#footer{
	bottom:0px;
}

.wrapper{
	width: 100%;
	text-align: center;
}

.call, .mail{
	display: none;
}

@media(max-width:1920px){
	#footer{
	padding-top: 30vh;
	}		
}

@media (max-width:1366px) {
	#footer{
		padding-top:30vh; 
	}
}

@media(height:1024px){
	#footer{
		padding-top: 40vh;
	}
	.logo{
		padding-top: 10vh;
	}
}

@media (max-width: 800px){
	.container-fluid{
		padding-top:10vh;
	}
	.logo{margin-top:5vh;}
	
	h2{
		font-size: 4.5vh;
	}

	h3{
		font-size: 2.4vh;
	}
	
	#footer{
		padding-top: 20vh;
	}
}


@media (max-width: 720px){
	
	.logo{
		/*margin-top:10vh;*/
		width: 70vw;
		}
	
	.tag{
		width: 70vw;
	}

	#footer{
		display: none;
	}

	h2{
		font-size: 1.7vh;
	}

	.fa-phone,
	.fa-envelope{
		font-size: 22px;
		color:black;
	}
	.call>.glyph-background{
		background-color: #fff;
		border-radius: 50%;
		padding: 28px 25px 23px 25px;
	}
	.mail>.glyph-background{
		background-color: #fff;
		border-radius: 50%;
		padding: 28px 22px 24px 23px;
	}
	.mail{
		position: fixed;
		bottom: 50px;
		left:10px;
		display: block;
	}
	.call{
		position: fixed;
		bottom: 50px;
		right:10px;
		display: block;
	}
	
}

@media (max-width:480px) {
	.logo{
		margin-top:3vh;
	}
	h2{
		font-size: 2.7vh;
	}
}